<div class="container">
    <div class="row">
      <div class="col-6">
      </div>
      <div class="col-6">
      </div>
    </div>
    <div class="row">
      <!--Dati-->
      <div class="col-6">
        <form>
            <div class="form-group row">
                <label for="colFormLabelSm" class="col-md-2 col-form-label col-form-label-sm">Data</label>
                <div class="col-md-10">
                  <input type="date" [(ngModel)]="oggetto.data" name="data" class="form-control form-control-sm" >
                </div>
              </div>
          <div class="form-group row">
            <label for="colFormLabelSm" class="col-md-2 col-form-label col-form-label-sm">Numero</label>
            <div class="col-md-10">
              <input type="text" [(ngModel)]="oggetto.numero" name="numero" class="form-control form-control-sm">
            </div>
          </div>
          <div class="form-group row">
            <label for="colFormLabelSm" class="col-md-2 col-form-label col-form-label-sm">Anno</label>
            <div class="col-md-10">
              <input type="text" [(ngModel)]="oggetto.anno" name="anno" class="form-control form-control-sm" >
            </div>
          </div>
          <div class="form-group row">
            <label for="colFormLabelSm" class="col-md-2 col-form-label col-form-label-sm">Importo ($)</label>
            <div class="col-md-10">
              <input type="email" [(ngModel)]="oggetto.importo" name="importo" class="form-control form-control-sm">
            </div>
          </div>
          <div class="form-group row">
            <label for="colFormLabelSm" class="col-md-2 col-form-label col-form-label-sm">Stato pagamento</label>
            <div class="col-md-10">
                <input type="radio" [(ngModel)]="oggetto.stato.nome" name="nome" value="PAGATA">
                <label for="PAGATA">PAGATA</label> 
                <br>
                <input type="radio" [(ngModel)]="oggetto.stato.nome" name="nome" value="NON PAGATA">
                <label for="NON PAGATA">NON PAGATA</label>
            </div>
          </div>
    </form>
      </div>
      <!--Cliente-->
      <div class="col-6">
        <div>
          <h3 class="mt-2 text-center">Cliente</h3>
          <form>
            <div class="form-group row">
              <label for="colFormLabelSm" class="col-md-2 col-form-label col-form-label-sm">Ragione sociale</label>
              <div class="col-md-10">
                <input type="text" [(ngModel)]="oggetto.cliente.ragioneSociale" name="ragioneSociale" class="form-control form-control-sm" >
              </div>
            </div>
      </form>
        </div>
        </div>
      </div>
    <div class="row d-flex justify-content-end">
        <button type="button" class="btn btn-dark m-2" (click)="aggiungiFattura()" >Add</button>
    </div>
  </div>
